<div class="b-geo-selector__area">
    <div class="b-find">
        <div class="b-find__field">
            <input class="b-form-field b-form-field_type_text" ng-model="filterArea" type="text" placeholder="Поиск региона..." />
            <button class="b-ficon-button">
                <i class="b-ficon b-ficon_type_search"></i>
            </button>
        </div>
        <div class="b-find__in">
            в <a class="b-link b-link_type_js" data-country-id="{{country._id}}" title="">{{country.name}}</a>
        </div>
    </div>
    <div class="b-area__items">
        <div class="b-area__item" ng-repeat="group in area_base | filter:filterArea">
            <dl class="b-field-composition">
                <dt class="b-field-composition__header">{{group.letter}}</dt>
                <dd class="b-field-composition__content">
                    <ul class="b-list">
                        <li class="b-list__item" ng-repeat="item in group.content">
                            <a class="b-link b-link_type_js" data-area-id="{{item._id}}" title="">{{item.name}}</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>