<div class="b-geo-selector__country" ng-class="{'b-geo-selector__country_state_visible': country_base}">
    <div class="b-find">
        <div class="b-find__field">
            <input class="b-form-field b-form-field_type_text" ng-model="filterCountry" type="text" placeholder="Поиск по названию..." />
            <button class="b-ficon-button">
                <i class="b-ficon b-ficon_type_search"></i>
            </button>
        </div>
    </div>
    <div class="b-country__items">
        <div class="b-country__item" ng-repeat="country in country_base | filter:filterCountry">
            <a class="b-link b-link_type_js" data-country-id="{{country._id}}" ng-click="selected_country = country._id" title="">{{country.name}}</a>
        </div>
    </div>
    <div class="b-geo-selector__loading" ng-class="{'b-geo-selector__loading_state_active': country_loading}">
        <div class="b-circle-container">
            <div class="b-circle"></div>
            <div class="b-circle"></div>
            <div class="b-circle"></div>
        </div>
    </div>
</div>