<div class="b-auto-complete__item" ng-repeat="item in auto_complete_items">
    <div class="b-address">
        <dl class="b-address__item">
            <dt class="b-address__item-header">Тип</dt>
            <dd class="b-address__item-content">{{item.type | lowercase}}</dd>
        </dl>
        <dl class="b-address__item">
            <dt class="b-address__item-header">Название</dt>
            <dd class="b-address__item-content">{{item.name}}</dd>
        </dl>
        <div class="b-links">
            <a class="b-link b-link_with_ficon"><i class="b-ficon b-ficon_type_place"></i><span class="b-link__text">На карте</span></a>
            <a class="b-link b-link_type_js" ng-click="setAutoCompleteItem(item)">Выбрать</a>
        </div>
    </div>
</div>
<div class="b-message b-message_type_warning" ng-show="auto_complete_error">
    <div class="b-message__content">
        {{auto_complete_error}}
    </div>
</div>