<!DOCTYPE html>
<html lang="ru" id="nojs" xml:lang="ru">
<head>
    <meta charset="utf-8"/>
    <title ng:bind-template="{{title}} {{page_name}}">Турбо Агент</title>
    <link href="/css/dashboard.styles.css" rel="stylesheet">
    <script data-main="/js/config.dashboard" src="/js/libs/require.js"></script>
    <script type="text/javascript">document.documentElement.id = "js";</script>
</head>
<body>
    <div class="b-page b-page_state_hidden" ng-class="{'b-page_state_hidden': hidePage}">
        <div class="b-header">
            <div class="b-site">
                <a class="b-site__logo b-link" href="/dashboard/" title="">Turbo Realty</a>
                <div class="b-site__description">Панель управления</div>
            </div>
            <div class="b-navigation b-navigation_type_primary">
                <ul class="b-list">
                    <li class="b-list__item" ng-class="{'b-list__item_state_active': checkCurrentInPrimary(item) }" ng-repeat="item in primary_nav">
                        <a class="b-link" ui-sref="{{item.state}}" title="">
                            <span class="b-ficon b-ficon_type_{{item.icon}}"></span>
                            <span ng:bind-template="{{item.name}}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="b-link b-link_type_help" ui-sref="help" title="">
                <span class="b-ficon b-ficon_type_help"></span>
            </a>
        </div>
        <div class="b-content">
            <div class="b-breadcrumbs">
                <div class="b-breadcrumbs__item" ng-if="breadcrumbs.section.state">
                    <a class="b-link" ui-sref="{{breadcrumbs.section.state}}" title="{{breadcrumbs.section.name}}" ng:bind-template="{{breadcrumbs.section.name}}"></a>
                </div>
                <div class="b-breadcrumbs__item" ng-if="breadcrumbs.current.name">
                    <span ng:bind-template="{{breadcrumbs.current.name}}"></span>
                </div>
            </div>
            <div class="b-sidebar">
                <div class="b-navigation b-navigation_type_secondary" ui-view="secondary-nav"></div>
                <div class="b-footer">
                    <div class="b-footer__secondary-navigation">
                        <ul class="b-list">
                            <li class="b-list__item">
                                <a class="b-link" href="/" title="">Главная</a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link" ui-sref="/help/dashboard/" title="">Помощь</a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link" ui-sref="/callback/" title="">Обратная связь</a>
                            </li>
                        </ul>
                        <div class="b-copyright">ТС © 2013–2014</div>
                    </div>
                </div>
            </div>
            <div class="b-content__main" ui-view></div>
        </div>
    </div>
    <div class="b-popup-messages"></div>
</body>
</html>