<h1 class="b-heading b-heading_level_1">Адреса</h1>

<div class="b-section b-section_cw_10">

    <article class="b-article">

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Добавить</h2>
                <a class="b-link b-link_type_js b-geo-selector__town-link" cd-selector="town">Выберите город</a>
            </div>
            <div class="b-panel__content">
                <form name="newForm" ng-submit="add(); newForm.showAllErrors = true" class="b-form" ng-class="{'b-form_state_show-all-error': newForm.showAllErrors}">
                    <dl class="b-field-composition">
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.house.$invalid || newForm.housing.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Дом</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-rubber-container">
                                            <div class="b-rubber-container__item">
                                                <input class="b-form-field b-form-field_type_text" name="house" ng-model="new.house" type="text" required>
                                                <div class="b-form-field-description">Номер</div>
                                            </div>
                                            <div class="b-rubber-container__item">
                                                <input class="b-form-field b-form-field_type_text" name="housing" ng-model="new.housing" type="text">
                                                <div class="b-form-field-description">Корпус</div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.name.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Название</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" name="name" ng-model="new.name" type="text" required>
                                        <div class="b-form-field-error" ng-if="newForm.name.$error.required">Введите название</div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.district.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Район</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field_type_select b-form-field" name="district" ng-model="new._district" data-placeholder="Выберите район" ng-options="item.name for item in districts">
                                        </select>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.street.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Улица</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field_type_select b-form-field" name="street" ng-model="new._street" data-placeholder="Выберите улицу" ng-options="item.name for item in streets" required>
                                        </select>
                                        <div class="b-form-field-error" ng-if="newForm.street.$error.required">Выберите улицу</div>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="add()">Добавить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Добавленные адреса</h2>
                <a class="b-link b-link_type_js b-geo-selector__street-link" cd-selector="street">Выберите улицу</a>
            </div>
            <div class="b-panel__content">
                <table class="b-table" ng-show="base">
                    <thead class="b-table__head">
                    <tr class="b-table__head_row">
                        <th class="b-table__head_cell">#</th>
                        <th class="b-table__head_cell">Адрес</th>
                        <th class="b-table__head_cell">Название</th>
                    </tr>
                    </thead>
                    <tbody class="b-table__body">
                    <tr ng-repeat="item in base" class="b-table__body_row">
                        <td class="b-table__head_cell">{{item.ID}}</td>
                        <td class="b-table__head_cell"><small class="b-small-font">{{item.shortAddress}}</small></td>
                        <td class="b-table__head_cell">{{item.name}}</td>
                        <td class="b-table__head_cell">
                            <button class="b-ficon-button" ng-click="doRemove(item)"><i class="b-ficon b-ficon_type_remove"></i></button>
                            <button class="b-ficon-button" ng-click="doEdit(item)"><i class="b-ficon b-ficon_type_edit"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="b-panel" ng-class="{'b-panel_state_invisible': !(edit.name) }" id="edit">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Редактирование</h2>
            </div>
            <div class="b-panel__content">
                <form class="b-form" name="updateForm" ng-submit="update(); updateForm.showAllErrors = true" ng-class="{'b-form_state_show-all-error': updateForm.showAllErrors}">
                    <dl class="b-field-composition">
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header" ng-class="{'i-with-error': updateForm.house.$invalid ||updateForm.housing.$invalid  }">
                                        <label class="b-form-field-label">Дом</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-rubber-container">
                                            <div class="b-rubber-container__item">
                                                <input class="b-form-field b-form-field_type_text" ng-model="edit.house" name="house" type="text">
                                                <div class="b-form-field-description">Номер</div>
                                            </div>
                                            <div class="b-rubber-container__item">
                                                <input class="b-form-field b-form-field_type_text" ng-model="edit.housing" name="housing" type="text">
                                                <div class="b-form-field-description">Корпус</div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': updateForm.name.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Название</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="edit.name" name="name" type="text" required>
                                        <div class="b-form-field-error" ng-if="updateForm.name.$error.required">Введите название</div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': updateForm.district.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Район</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field_type_select b-form-field" ng-model="edit._district" name="district" data-placeholder="Выберите район" ng-options="item.name for item in districts">
                                        </select>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': updateForm.street.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Улица</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field_type_select b-form-field" ng-model="edit._street" name="street" data-placeholder="Выберите улицу" ng-options="item.name for item in streets">
                                        </select>
                                        <div class="b-form-field-error" ng-if="updateForm.street.$error.required">Выберите улицу</div>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="updateForm.showAllErrors = true">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>