<h1 class="b-heading b-heading_level_1">Регионы</h1>

<div class="b-section b-section_cw_10">

    <article class="b-article">

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Добавить</h2>
            </div>
            <div class="b-panel__content">
                <form name="newForm" ng-submit="add(); newForm.showAllErrors = true" class="b-form" ng-class="{'b-form_state_show-all-error': newForm.showAllErrors}">
                    <dl class="b-field-composition">
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.name.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Название</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" cd-find="area" name="name" ng-model="new.name" type="text" required/>
                                        <div class="b-form-field-error" ng-if="newForm.name.$error.required">Заполните поле</div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.country.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Страна</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field_type_select b-form-field" name="country" ng-model="new._country" data-placeholder="Выберите страну" ng-options="item.name for item in countries" required>
                                        </select>
                                        <div class="b-form-field-error" ng-if="newForm.country.$error.required">Выберите значение</div>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="newForm.showAllErrors = true">Добавить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Добавленные регионы</h2>
                <a class="b-link b-link_type_js b-geo-selector__country-link" cd-selector="country">Выберите страну</a>
                <input type="hidden" ng-model="country._id"/>
            </div>
            <div class="b-panel__content">
                <table class="b-table" ng-show="base">
                    <thead class="b-table__head">
                        <tr class="b-table__head_row">
                            <th class="b-table__head_cell">#</th>
                            <th class="b-table__head_cell">Название</th>
                            <th class="b-table__head_cell">Страна</th>
                        </tr>
                    </thead>
                    <tbody class="b-table__body">
                        <tr ng-repeat="item in base" class="b-table__body_row">
                            <td class="b-table__head_cell">{{item.ID}}</td>
                            <td class="b-table__head_cell">{{item.name}} {{item.typeLongName|lowercase}}</td>
                            <td class="b-table__head_cell">{{item._country.name}}</td>
                            <td class="b-table__head_cell">
                                <button class="b-ficon-button" ng-click="doRemove(item)"><i class="b-ficon b-ficon_type_remove"></i></button>
                                <button class="b-ficon-button" ng-click="doEdit(item)"><i class="b-ficon b-ficon_type_edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="b-panel" ng-class="{'b-panel_state_invisible': !(edit.name) }" id="edit">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Редактирование</h2>
            </div>
            <div class="b-panel__content">
                <form class="b-form" name="updateForm" ng-submit="update(); updateForm.showAllErrors = true" ng-class="{'b-form_state_show-all-error': updateForm.showAllErrors}">
                    <dl class="b-field-composition">
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': updateForm.name.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Название</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="edit.name" name="name" type="text" required/>
                                        <div class="b-form-field-error" ng-if="updateForm.name.$error.required">Заполните поле</div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': updateForm.country.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Страна</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field_type_select b-form-field" name="country" ng-model="edit._country" ng-options="item.name for item in countries" data-placeholder="Выберите страну">
                                        </select>
                                        <div class="b-form-field-error" ng-if="updateForm.country.$error.required">Выберите значение</div>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="updateForm.showAllErrors = true">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>