<h1 class="b-heading b-heading_level_1">Страны</h1>

<div class="b-section b-section_cw_10">

    <article class="b-article">

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Добавить</h2>
            </div>
            <div class="b-panel__content">
                <form class="b-form" ng-submit="add(); newForm.showAllErrors = true" name="newForm" ng-class="{'b-form_state_show-all-error': newForm.showAllErrors}">
                    <dl class="b-field-composition">
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': newForm.name.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Название</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="new.name" name="name" type="text" required/>
                                        <div class="b-form-field-error" ng-if="newForm.name.$error.required">Заполните поле</div>
                                        <div class="b-form-field-error" ng-if="newForm.name.$error.unique">Такая страна уже существует</div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Валюта</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-rubber-container">
                                            <div class="b-rubber-container__item b-one-two" ng-class="{'i-with-error': newForm.currency.name.$invalid }">
                                                <input class="b-form-field b-form-field_type_text" ng-model="new.currency.name" name="currency[name]" type="text" required/>
                                                <div class="b-form-field-description">Название</div>
                                            </div>
                                            <div class="b-rubber-container__item" ng-class="{'i-with-error': newForm.currency.cod.$invalid }">
                                                <input class="b-form-field b-form-field_type_text" ng-model="new.currency.cod" name="currency[cod]" type="text" required/>
                                                <div class="b-form-field-description">Код</div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="newForm.showAllErrors = true">Добавить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="b-panel" ng-class="{'b-panel_state_invisible': !(base.length > 0) }">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Добавленные страны</h2>
            </div>
            <div class="b-panel__content">
                <table class="b-table" ng-show="base">
                    <thead class="b-table__head">
                        <tr class="b-table__head_row">
                            <th rowspan="2" class="b-table__head_cell">#</th>
                            <th rowspan="2" class="b-table__head_cell">Название</th>
                            <th colspan="2" class="b-table__head_cell">Валюта</th>
                            <th rowspan="2" class="b-table__head_cell">Действия</th>
                        </tr>
                        <tr class="b-table__head_row">
                            <th class="b-table__head_cell">Название</th>
                            <th class="b-table__head_cell">Код</th>
                        </tr>
                    </thead>
                    <tbody class="b-table__body">
                        <tr ng-repeat="item in base" class="b-table__body_row">
                            <td class="b-table__head_cell">{{item.ID}}</td>
                            <td class="b-table__head_cell">{{item.name}}</td>
                            <td class="b-table__head_cell">{{item.currency.name}}</td>
                            <td class="b-table__head_cell">{{item.currency.cod}}</td>
                            <td class="b-table__head_cell">
                                <button class="b-ficon-button" ng-click="doRemove(item)"><i class="b-ficon b-ficon_type_remove"></i></button>
                                <button class="b-ficon-button" ng-click="doEdit(item)"><i class="b-ficon b-ficon_type_edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="b-panel" ng-class="{'b-panel_state_invisible': !(edit.name) }" id="edit">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Редактирование</h2>
            </div>
            <div class="b-panel__content">
                <form class="b-form" ng-submit="update(); updateForm.showAllErrors = true" name="updateForm" ng-class="{'b-form_state_show-all-error': updateForm.showAllErrors}">
                    <dl class="b-field-composition">
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition" ng-class="{'i-with-error': updateForm.name.$invalid }">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Название</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="edit.name" name="name" type="text" required/>
                                        <div class="b-form-field-error" ng-if="updateForm.name.$error.required">Заполните поле</div>
                                        <div class="b-form-field-error" ng-if="updateForm.name.$error.unique">Такая страна уже существует</div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label i-required">Валюта</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-rubber-container">
                                            <div class="b-rubber-container__item b-one-two" ng-class="{'i-with-error': updateForm.currency.name.$invalid }">
                                                <input class="b-form-field b-form-field_type_text" ng-model="edit.currency.name" name="currency[name]" type="text" required/>
                                                <div class="b-form-field-description i-required">Название</div>
                                            </div>
                                            <div class="b-rubber-container__item" ng-class="{'i-with-error': updateForm.currency.cod.$invalid }">
                                                <input class="b-form-field b-form-field_type_text" ng-model="edit.currency.cod" name="currency[cod]" type="text" required/>
                                                <div class="b-form-field-description i-required">Код</div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="updateForm.showAllErrors = true">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>