<dl class="b-field-composition">
    <dt class="b-field-composition__header">
        <h3 class="b-heading b-heading_level_3">
            <span class="b-span">Параметры квартиры</span>
        </h3>
    </dt>
    <dd class="b-field-composition__content">
        <div class="b-form-row">
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Этаж</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-rubber-container">
                        <div class="b-rubber-container__item">
                            <input type="text" class="b-form-field b-form-field_type_text" ng-model="query.object.floor"/>
                            <div class="b-form-field-description" ng-show="address_house.floors">Всего в вашем доме {{house.floors}} этажей</div>
                            <div class="b-form-field-description" ng-hide="address_house.floors">Этаж</div>
                        </div>
                        <div class="b-rubber-container__item" ng-hide="address_house.floors">
                            <input type="text" class="b-form-field b-form-field_type_text" ng-model="query.house.floors"/>
                            <div class="b-form-field-description">Этажей в доме</div>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Ремонт</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-group">
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][repair]" ng-model="query.object.repair" ng-checked="query.object.repair == 1" type="radio" value="1" />
                                Требуется
                            </label>
                        </button>
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][repair]" ng-model="query.object.repair" ng-checked="query.object.repair == 2" type="radio" value="2" />
                                Обычный
                            </label>
                        </button>
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][repair]" ng-model="query.object.repair" ng-checked="query.object.repair == 3" type="radio" value="3" />
                                Евро
                            </label>
                        </button>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="b-form-row">
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Площадь</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-rubber-container">
                        <div class="b-rubber-container__item b-one-third">
                            <input class="b-form-field b-form-field_type_text b-form-field_with_measure" ng-model="query.object.area.gross" type="text" />
                            <div class="b-form-field-description">Общая</div>
                            <div class="b-field-measure">м<sup>2</sup></div>
                        </div>
                        <div class="b-rubber-container__item b-one-third">
                            <input class="b-form-field b-form-field_type_text b-form-field_with_measure" ng-model="query.object.area.live" type="text" />
                            <div class="b-form-field-description">Жилая</div>
                            <div class="b-field-measure">м<sup>2</sup></div>
                        </div>
                        <div class="b-rubber-container__item b-one-third">
                            <input class="b-form-field b-form-field_type_text b-form-field_with_measure" ng-model="query.object.area.kitchen" type="text" />
                            <div class="b-form-field-description">Кухня</div>
                            <div class="b-field-measure">м<sup>2</sup></div>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Комнат</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <input type="text" class="b-form-field b-form-field_type_text" ng-model="query.object.rooms"/>
                    <div class="b-field-measure">Количество</div>
                </dd>
            </dl>
        </div>
        <div class="b-form-row">
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Балкон</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-group">
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][balkon]" ng-model="query.object.balkon" ng-checked="query.object.balkon == 1" type="radio" value="1" />
                                Лоджия
                            </label>
                        </button>
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][balkon]" ng-model="query.object.balkon" ng-checked="query.object.balkon == 2" type="radio" value="2" />
                                Не лоджия
                            </label>
                        </button>
                    </div>
                </dd>
            </dl>
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Туалет</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-group">
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.wc" ng-checked="query.object.wc == 1" type="checkbox" value="1" />
                                Раздельный
                            </label>
                        </button>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="b-form-row">
            <dl class="b-form-field-composition" ng-hide="address_house.material">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Материал дома</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-group">
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][house][material]" ng-model="query.house.material" value="1" type="radio" />
                                Кирпич
                            </label>
                        </button>
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][house][material]" ng-model="query.house.material" value="2" type="radio" />
                                Монолит
                            </label>
                        </button>
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_radio" name="query[object][house][material]" ng-model="query.house.material" value="3" type="radio" />
                                Панель
                            </label>
                        </button>
                    </div>
                </dd>
            </dl>
            <dl class="b-form-field-composition">
                <dt class="b-form-field-composition__header">
                    <label class="b-form-field-label">Газ</label>
                </dt>
                <dd class="b-form-field-composition__content">
                    <div class="b-group">
                        <button class="b-button">
                            <label class="b-form-field-label">
                                <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.gas" ng-checked="query.object.gas == 1" type="checkbox" value="1" />
                                Есть
                            </label>
                        </button>
                    </div>
                </dd>
            </dl>
        </div>
    </dd>
</dl>