<div class="b-section">
    <div class="b-stripe">
        <article class="b-article">
            <h1 class="b-heading b-heading_level_1">Поиск</h1>

            <div class="b-search-classify">
                <form class="b-form" action="?">
                    <input class="b-form-field b-form-field_type_text" name="fField" id="fField" type="text"
                           placeholder="Введите фразу для поиска"/>
                    <button class="b-button b-button_type_submit"></button>
                </form>
            </div>

            <div ng-include="'/templates/forms/realty-filter.html'" onload="formLoaded()"></div>
        </article>
    </div>
</div>