<h1 class="b-heading b-heading_level_1">Обучение классификатора</h1>

<div class="b-section b-section_cw_10">

    <article class="b-article">

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Формализовать запрос</h2>
            </div>
            <div class="b-panel__content">
                <form class="b-form" ng-submit="classifyQueryText()">
                    <div class="b-form-row">
                        <input class="b-form-field b-form-field_type_text" ng-model="text" type="text" placholder="Введите запрос" />
                    </div>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="b-panel">
            <div class="b-panel__header">
                <h2 class="b-heading b-heading_level_2">Формирование запроса</h2>
            </div>
            <div class="b-panel__content">
                <div class="b-form">
                    <dl class="b-field-composition">
                        <dt class="b-field-composition__header">
                            <h3 class="b-heading b-heading_level_3">
                                <span class="b-span">Параметры объявления</span>
                            </h3>
                        </dt>
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Тип объявления</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-group">
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" ng-model="query.advert.type" ng-checked="query.advert.type == 2" name="query[advert][type]" value="2" type="radio" />
                                                    Съём
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" ng-model="query.advert.type" ng-checked="query.advert.type == 1" name="query[advert][type]" value="1" type="radio" />
                                                    Покупка
                                                </label>
                                            </button>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Город</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <a class="b-link b-link_type_js" href="#" title="">Красноярск</a>
                                        <input type="hidden" ng-model="query.advert.town"/>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Цена</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="query.object.price" type="text" />
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Район</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="query.object.raion" type="text" />
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <dl class="b-field-composition">
                        <dt class="b-field-composition__header">
                        <h3 class="b-heading b-heading_level_3">
                            <span class="b-span">Параметры объекта</span>
                        </h3>
                        </dt>
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Тип объекта</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select class="b-form-field b-form-field_type_select" ng-model="query.object.type">
                                            <option value="">Выберите тип</option>
                                            <option class="b-form-field__option" value="1" ng-selected="query.object.type == 1">Квартира</option>
                                            <option class="b-form-field__option" value="2" ng-selected="query.object.type == 2">Дом</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Балкон</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-group">
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" name="query[object][balkon]" ng-model="query.object.balkon" ng-checked="query.object.balkon == 1" type="radio" value="1" />
                                                    Лоджия
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" name="query[object][balkon]" ng-model="query.object.balkon" ng-checked="query.object.balkon == 2" type="radio" value="2" />
                                                    Не лоджия
                                                </label>
                                            </button>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Комнат</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-buttons">
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.rooms.num_1" ng-checked="query.object.rooms.num_1 == 'true'" type="checkbox" />
                                                    1
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.rooms.num_2" ng-checked="query.object.rooms.num_2 == 'true'" type="checkbox" />
                                                    2
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.rooms.num_3" ng-checked="query.object.rooms.num_3 == 'true'" type="checkbox" />
                                                    3
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.rooms.num_4" ng-checked="query.object.rooms.num_4 == 'true'" type="checkbox" />
                                                    4+
                                                </label>
                                            </button>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Материал дома</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-group">
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" name="query[object][house][material]" ng-model="query.object.house.material" value="1" type="radio" />
                                                    Кирпич
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" name="query[object][house][material]" ng-model="query.object.house.material" value="2" type="radio" />
                                                    Монолит
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" name="query[object][house][material]" ng-model="query.object.house.material" value="3" type="radio" />
                                                    Панель
                                                </label>
                                            </button>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Газ</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_checkbox" ng-model="query.object.gas" type="checkbox" value="1" />
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="saveFormalizeQuery()">Обучить</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="b-section b-section_cw_4">
    <div class="b-panel" ng-class="{'b-panel_state_invisible': !(query.advert || query.object) }">
        <div class="b-panel__header">
            <h2 class="b-heading b-heading_level_2">Формализованный запрос</h2>
        </div>
        <div class="b-panel__content">
            <pre class="b-pre">{{query|json}}</pre>
            <br />
            <a class="b-link b-link_type_js" href="#" ng-click="flushQuery()">Сбросить</a>
        </div>
    </div>
    <div class="b-panel b-panel_size_min">
        <div class="b-panel__header">
            <h2 class="b-heading b-heading_level_2">База знаний</h2>
        </div>
        <div class="b-panel__content">
            <div class="b-dropdown-list">
                <div class="b-dropdown-list__item" ng-repeat="item in base">
                    <dl class="b-field-composition">
                        <dt class="b-field-composition__header"><span class="b-name" ng:bind-template="{{item.input}}"></span></dt>
                        <dd class="b-field-composition__content">
                            <pre class="b-pre" ng:bind-template="{{item.output}}"></pre>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="b-panel b-panel_size_min">
        <div class="b-panel__header">
            <h2 class="b-heading b-heading_level_2">История запросов пользователей</h2>
        </div>
        <div class="b-panel__content">
            <div class="b-dropdown-list">
                <div class="b-dropdown-list__filter">
                    <input type="text" class="b-form-field_type_text" placeholder="Фильтровать запросы" ng-model="filterUserQuery">
                </div>
                <div class="b-dropdown-list__item" ng-repeat="item in userQueries | filter:filterUserQuery">
                    <dl class="b-field-composition">
                        <dt class="b-field-composition__header"><span class="b-name" ng:bind-template="{{item.text}}"></span></dt>
                        <dd class="b-field-composition__content">
                            <pre class="b-pre" ng:bind-template="Количество запросов: {{item.queries}}"></pre>
                            <a href="#" class="b-link b-link_type_js" ng-click="setQueryText(item.text)">Использовать</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>