<h1>Настройки классификатора</h1>

<div class="b-section b-section_cw_10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Добавить новый запрос</h3>
        </div>
        <div class="panel-body">
            <form role="form" name="newSearchQuery" ng-controller="AddSearchQuery" ng-submit="submit()" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="queryText">Текст запроса</label>
                    <input type="text" class="form-control" id="queryText" placeholder="Введите запрос" ng-model="formdata.text"/>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
    <div ng-controller="dashboard.search.queries.sort">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Сортировка запросов</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="date">Сортировать по дате</label>
                        <p class="input-group">
                            <input ng-change="sortQueries()" type="text" ng-model="sort.date" id="date" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="dt" is-open="opened" ng-required="true" close-text="Закрыть" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="findText">Найти запрос по названию</label>
                            <input ng-change="sortByText()" type="text" class="form-control" id="findText" placeholder="Введите запрос" ng-model="sort.text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Запросы</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>Запрос</th>
                        <th>Количество запросов за всю историю</th>
                        <th>Количество запросов за {{sort.month}} {{sort.year}}</th>
                        <th>Количество запросов за {{sort.day}} число</th>
                        <th>Действия</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in sort.base">
                            <td>{{item.id}}</td>
                            <td>{{item.text}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.month.quantity}}</td>
                            <td>{{item.day.quantity}}</td>
                            <td><a href="{{item.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>