<!DOCTYPE html>
<html lang="ru" id="nojs" xml:lang="ru" class="i-in-progress" ng-class="{'i-in-progress': global_loading}">
<head>
    <meta charset="utf-8"/>
    <title ng:bind-template="{{title}} {{page_name}}">Турбо Агент</title>
    <link rel="stylesheet" media="screen" href="css/main.styles.css" />
    <script data-main="/js/config.app" src="/js/libs/require.js"></script>
    <script type="text/javascript">document.documentElement.id = "js";</script>
</head>
<body>
    <div class="b-page">
        <div class="b-header b-header_type_default">
            <div class="b-stripe">
                <div class="b-logo">
                    <a class="b-link" href="/" title="">Turbo Realty</a>
                </div>
                <div class="b-geolocation">
                    <div class="b-geolocation__current">
                        <a class="b-link b-link_type_js" href="#" cd-selector="town" title="">Красноярск</a>
                    </div>
                </div>
                <div class="b-user-actions">
                    <ul class="b-list">
                        <li class="b-list__item" ng-if="checkAccess(false)">
                            <a class="b-link b-link_type_js" cd-popup="login" title="">Вход</a>
                        </li>
                        <li class="b-list__item" ng-if="checkAccess(false)" ui-sref-active="b-list__item_state_active">
                            <a class="b-link b-link_type_js" href="#" title="">Регистрация</a>
                        </li>
                        <li class="b-list__item" ng-if="checkAccess(true)">
                            <a class="b-link" href="/dashboard/" title="" target="_self">Панель управления</a>
                        </li>
                        <li class="b-list__item" ng-if="checkAccess(true)">
                            <a class="b-link" ui-sref="logout" title="">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-content" ui-view></div>
        <div class="b-footer">
            <div class="b-footer__navigation">
                <div class="b-stripe">
                    <button class="b-button b-button_action_toggle-navigation">
                        <i class="b-ficon b-ficon_type_arrow-up"></i>
                    </button>
                    <article class="b-article">
                        <dl class="b-field-composition">
                            <dd class="b-field-composition__content">
                                <ul class="b-list">
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Войти</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Регистрация</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </article>
                    <article class="b-article">
                        <dl class="b-field-composition">
                            <dt class="b-field-composition__header">
                            <h3 class="b-heading b-heading_level_3">Разделы</h3>
                            </dt>
                            <dd class="b-field-composition__content">
                                <ul class="b-list">
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Поиск недвижимости</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Агенства недвижимости</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </article>
                    <article class="b-article">
                        <dl class="b-field-composition">
                            <dt class="b-field-composition__header">
                            <h3 class="b-heading b-heading_level_3">Инфо</h3>
                            </dt>
                            <dd class="b-field-composition__content">
                                <ul class="b-list">
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">О сайте</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Правила пользования</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Помощь</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </article>
                    <article class="b-article">
                        <dl class="b-field-composition">
                            <dt class="b-field-composition__header">
                            <h3 class="b-heading b-heading_level_3">Услуги</h3>
                            </dt>
                            <dd class="b-field-composition__content">
                                <ul class="b-list">
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Реклама</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Спецпроекты</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </article>
                    <article class="b-article">
                        <dl class="b-field-composition">
                            <dt class="b-field-composition__header">
                            <h3 class="b-heading b-heading_level_3">Полезное</h3>
                            </dt>
                            <dd class="b-field-composition__content">
                                <ul class="b-list">
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Статистика цен за м<span class="b-sup">2</span></a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Калькуляторы</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Как купить квартиру</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Документы и банки</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </article>
                    <article class="b-article">
                        <dl class="b-field-composition">
                            <dt class="b-field-composition__header">
                                <h3 class="b-heading b-heading_level_3">Рейтинги</h3>
                            </dt>
                            <dd class="b-field-composition__content">
                                <ul class="b-list">
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Агенств недвижимсоти</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Компаний застройщиков</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Частных риелторов</a>
                                    </li>
                                    <li class="b-list__item">
                                        <a class="b-link" href="#" title="">Ремонтных бригад</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </article>
                </div>
            </div>
            <div class="b-footer__secondary-navigation">
                <div class="b-stripe">
                    <ul class="b-list">
                        <li class="b-list__item">
                            <a class="b-link" href="#" title="">Главная</a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-link" href="#" title="">Карта сайта</a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-link" href="#" title="">Обратная связь</a>
                        </li>
                    </ul>
                    <div class="b-copyright">ТС © 2013–2014</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>