<div class="b-popup-message__content b-popup-message__content_type_error">
    <div class="i-overlay">
        <i class="b-icon b-icon_type_error"></i>
        <div class="b-popup-message__body">
            <div class="b-text">
            {{message}}
            </div>
            <nav class="b-nav">
                <li class="b-nav__item">
                    <a href="#" class="b-link">Помощь</a>
                </li>
                <li class="b-nav__item">
                    <a href="#" class="b-link">Сообщить об ошибке</a>
                </li>
            </nav>
        </div>
    </div>
</div>