<div class="b-popup-message__content b-popup-message__content_type_success">
    <div class="i-overlay">
        <i class="b-icon b-icon_type_success"></i>
        <div class="b-popup-message__body">
            <div class="b-text">
                {{message}}
            </div>
        </div>
    </div>
</div>