<h1 class="b-heading b-heading_level_1">{{breadcrumbs.current.name}}</h1>

<div class="b-section b-section_cw_10">
    <ng-include src="'/templates/page/dashboard/users/form.html'"></ng-include>
</div>