<article class="b-article">
    <div class="b-panel">
        <div class="b-panel__content">
            <div class="b-form">
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">
                        <h3 class="b-heading b-heading_level_3">
                            <span class="b-span">Параметры аккаунта</span>
                        </h3>
                    </dt>
                    <dd class="b-field-composition__content">
                        <div class="b-form-row">
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Email</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.email" type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Имя</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.info.firstName" type="text"/>
                                </dd>
                            </dl>
                        </div>
                        <div class="b-form-row">
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Фамилия</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.info.fullName" type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Отчество</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.info.patronymic" type="text"/>
                                </dd>
                            </dl>
                        </div>
                        </dd>
                    </dl>
                    <dl class="b-field-composition">
                        <dt class="b-field-composition__header">
                        <h3 class="b-heading b-heading_level_3">
                            <span class="b-span">Доступ</span>
                        </h3>
                    </dt>
                    <dd class="b-field-composition__content">
                        <div class="b-form-row">
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Роль</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <select data-placeholder="Выберите роль" class="b-form-field b-form-field_type_select" ng-model="$parent.user.access.role"  ng-options="item for item in roles" required>
                                    </select>
                                </dd>
                            </dl>
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Разрешения</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <select data-placeholder="Выберите действия" class="b-form-field b-form-field_type_select" ng-model="$parent.user.access.actions" multiple ng-options="item for item in actions" required>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="b-form-row">
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Попыток входа</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.attemptsToEnter" type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Статус</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <select data-placeholder="Выберите статус" class="b-form-field b-form-field_type_select" ng-model="$parent.user.status.code" ng-options="item.name for item in statuses" required>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="b-form-row">
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Примечание к статусу</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <textarea class="b-form-field b-form-field_type_textarea" ng-model="$parent.user.status.description"></textarea>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                        <dt class="b-field-composition__header">
                        <h3 class="b-heading b-heading_level_3">
                            <span class="b-span">Безопасность</span>
                        </h3>
                        </dt>
                    <dd class="b-field-composition__content">
                        <div class="b-form-row">
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Пароль</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.password" type="password"/>
                                </dd>
                            </dl>
                            <dl class="b-form-field-composition">
                                <dt class="b-form-field-composition__header">
                                    <label class="b-form-field-label">Повторите пароль</label>
                                </dt>
                                <dd class="b-form-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" ng-model="$parent.user.reEnterPassword" type="password"/>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
                <div class="b-form-row b-form-row_indent-align_right">
                    <button class="b-submit" type="submit" ng-click="add()">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</article>