<dl class="b-field-composition">
    <dt class="b-field-composition__header">Пользователи портала</dt>
    <dd class="b-field-composition__content">
        <ul class="b-list">
            <li class="b-list__item">
                <a class="b-link b-link_toggle_sub-nav">
                    <span class="b-ficon b-ficon_type_search"></span>
                    <span class="b-link__text">Поиск</span>
                    <span class="b-ficon b-ficon_type_toggle-arrow"></span>
                </a>
                <ul class="b-sub-list b-sub-list_state_hidden">
                    <li class="b-sub-list__item" ui-sref-active="b-list__item_state_current">
                        <a class="b-link" ui-sref="settings.search_queries" title="">Поиск пользователей</a>
                    </li>
                </ul>
            </li>
            <li class="b-list__item">
                <a class="b-link b-link_toggle_sub-nav">
                    <span class="b-ficon b-ficon_type_users"></span>
                    <span class="b-link__text">Пользователи</span>
                    <span class="b-ficon b-ficon_type_toggle-arrow"></span>
                </a>
                <ul class="b-sub-list b-sub-list_state_hidden">
                    <li class="b-sub-list__item" ui-sref-active="b-list__item_state_current">
                        <a class="b-link" ui-sref="users.add" title="">Добавить</a>
                    </li>
                    <li class="b-sub-list__item" ui-sref-active="b-list__item_state_current">
                        <a class="b-link" ui-sref="users.all" title="">Все</a>
                    </li>
                </ul>
            </li>
        </ul>
    </dd>
</dl>