<!DOCTYPE html>
<html lang="ru" id="nojs" xml:lang="ru">
<head>
    <meta charset="utf-8"/>
    <title ng:bind-template="{{title}} {{page_name}}">Турбо Агент</title>
    <link rel="stylesheet" media="screen" href="/css/login.styles.css" />
    <script data-main="/js/config.app" src="/js/libs/require.js"></script>
    <script type="text/javascript">document.documentElement.id = "js";</script>
</head>
<body>
    <div class="b-page">
        <div class="b-content">
            <div class="b-content__main">
                <ng-include src="'/templates/forms/login.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="b-popup-messages"></div>
</body>
</html>