<div class="b-form b-form_type_login" ng-controller="login">
    <div class="b-form__social">
        <a class="b-link b-link_type_ficon" href="#" title="Войти через Вконтакте">
            <i class="b-ficon b-ficon_type_vkontakte"></i>
        </a>
        <a class="b-link b-link_type_ficon" href="#" title="Войти через Facebook">
            <i class="b-ficon b-ficon_type_facebook"></i>
        </a>
        <a class="b-link b-link_type_ficon" href="#" title="Войти через Twitter">
            <i class="b-ficon b-ficon_type_twitter"></i>
        </a>
        <a class="b-link b-link_type_ficon" href="#" title="Войти через Google+">
            <i class="b-ficon b-ficon_type_google-plus"></i>
        </a>
        <a class="b-link b-link_type_ficon" href="#" title="Войти через Одноклассники">
            <i class="b-ficon b-ficon_type_pictonic b-ficon_type_odnoklassniki"></i>
        </a>
        <a class="b-link b-link_type_ficon" href="#" title="Войти через Yandex">
            <i class="b-ficon b-ficon_type_pictonic b-ficon_type_yandex"></i>
        </a>
    </div>
    <form class="b-form__content" ng-submit="doLogin()">
        <div class="b-form-fields-list">
            <div class="b-form-fields-list__item">
                <input class="b-form-field b-form-field_type_email" ng-model="account.email" type="email" placeholder="Email" required/>
            </div>
            <div class="b-form-fields-list__item">
                <input class="b-form-field b-form-field_type_password" ng-model="account.password" type="password" placeholder="Пароль" required/>
                <button ng-click="togglePassword()" type="button" class="b-ficon-button b-ficon-button_action_show-pwd ng-hide" ng-hide="!account.password" title="Показать пароль">
                    <i class="b-ficon b-ficon_type_eye"></i>
                </button>
            </div>
            <div class="b-form-fields-list__item b-form-fields-list__item_type_controls-to-the-right">
                <a class="b-link" href="#" title="Забыли пароль?">Вспомнить пароль</a>
                <button class="b-button b-button_type_primary effeckt-button" title="Выполнить вход" data-effeckt-type="slide-left" data-loading="{{loading}}" type="submit" ng-click="doLogin()" >
                    <span class="label">Вход</span>
                    <span class="spinner"></span>
                </button>
            </div>
        </div>
    </form>
</div>