<div class="b-search-filter">
    <div class="b-search-filter__primary-options" ng-class="{'b-search-filter__primary-options_state_open-secondary': showSecondaryOptions}">
        <dl class="b-field-composition">
            <dt class="b-field-composition__header">Я хочу</dt>
            <dd class="b-field-composition__content">
                <div class="b-group">
                    <button class="b-button">
                        <label class="b-form-field-label" for="query_rent">
                            <input class="b-form-field b-form-field_type_radio" name="query[advert][type]" id="query_rent"
                                   type="radio" value="1"/>
                            Снять
                        </label>
                    </button>
                    <button class="b-button">
                        <label class="b-form-field-label" for="query_buy">
                            <input class="b-form-field b-form-field_type_radio" name="query[advert][type]" id="query_buy"
                                   type="radio" value="2"/>
                            Купить
                        </label>
                    </button>
                </div>
            </dd>
        </dl>
        <dl class="b-field-composition">
            <dd class="b-field-composition__content">
                <select class="b-form-field b-form-field_type_select b-form-field_type_chosen" name="query[object][type]"
                        data-placeholder="Выберите город">
                    <option class="b-form-field__option">Квартиру</option>
                    <option class="b-form-field__option">Гараж</option>
                    <option class="b-form-field__option">Нежилое помещение</option>
                    <option class="b-form-field__option">Дом</option>
                    <option class="b-form-field__option">Землю</option>
                </select>
            </dd>
        </dl>
        <dl class="b-field-composition">
            <dd class="b-field-composition__content">
                <button class="b-button b-button_type_square b-hint-inside">

                    <label class="b-form-field-label" for="query_room_1">
                        <input class="b-form-field b-form-field_type_checkbox" name="query[object][room][1]"
                               id="query_room_1" type="checkbox"/>
                        1
                    </label>

                    <div class="b-form-field-hint">
                        <div class="b-icon b-icon_type_arrow-top"></div>
                        <div class="b-form-field-hint__content">Комната</div>
                    </div>
                </button>
                <button class="b-button b-button_type_square b-hint-inside">

                    <label class="b-form-field-label" for="query_room_2">
                        <input class="b-form-field b-form-field_type_checkbox" name="query[object][room][2]"
                               id="query_room_2" type="checkbox"/>
                        2
                    </label>

                    <div class="b-form-field-hint">
                        <div class="b-icon b-icon_type_arrow-top"></div>
                        <div class="b-form-field-hint__content">Комнаты</div>
                    </div>
                </button>
                <button class="b-button b-button_type_square b-hint-inside">

                    <label class="b-form-field-label" for="query_room_3">
                        <input class="b-form-field b-form-field_type_checkbox" name="query[object][room][2]"
                               id="query_room_3" type="checkbox"/>
                        3
                    </label>

                    <div class="b-form-field-hint">
                        <div class="b-icon b-icon_type_arrow-top"></div>
                        <div class="b-form-field-hint__content">Комнаты</div>
                    </div>
                </button>
                <button class="b-button b-button_type_square b-hint-inside">

                    <label class="b-form-field-label" for="query_room_more">
                        <input class="b-form-field b-form-field_type_checkbox" name="query[object][room][more]"
                               id="query_room_more" type="checkbox"/>
                        4+
                    </label>

                    <div class="b-form-field-hint">
                        <div class="b-icon b-icon_type_arrow-top"></div>
                        <div class="b-form-field-hint__content">4 комнаты и больше</div>
                    </div>
                </button>
            </dd>
        </dl>
        <dl class="b-field-composition">
            <dt class="b-field-composition__header b-hint-inside b-select-town">
                <a class="b-link b-link_type_js" href="#" title="Нажмите чтобы выбрать город" cd-selector="town">в городе</a>
                <div class="b-form-field-hint">
                    <div class="b-icon b-icon_type_arrow-top"></div>
                    <div class="b-form-field-hint__content">Нажмите чтобы выбрать город</div>
                </div>
            </dt>
        </dl>
        <dl class="b-field-composition">
            <dt class="b-field-composition__header">от</dt>
            <dd class="b-field-composition__content">
                <input class="b-form-field b-form-field_type_text" name="query[advert][price][min]" id="fField"
                       type="text"/>
            </dd>
        </dl>
        <dl class="b-field-composition">
            <dt class="b-field-composition__header">до</dt>
            <dd class="b-field-composition__content">
                <input class="b-form-field b-form-field_type_text" name="query[advert][price][max]" id="fField"
                       type="text"/>
            </dd>
        </dl>
        <dl class="b-field-composition b-field-composition_type_right-attached">

            <dd class="b-field-composition__content">
                <button class="b-submit" type="submit">
                    <div class="b-icon b-icon_type_find-arrow"></div>
                </button>
            </dd>
        </dl>
    </div>
    <div class="b-search-filter__toggle" ng-class="{'b-search-filter__toggle_state_hidden': showSecondaryOptions}">
        <div class="b-search-filter__round"></div>
        <a class="b-link" href="#" title="Показать дополнительный настройки" ng-click="showSecondaryOptions = true">
            больше опций
            <span class="b-icon b-icon_type_arrow-down_s_small"></span>
        </a>
    </div>
    <div class="b-search-filter__overflow-container">
        <div class="b-search-filter__secondary-options" ng-class="{'b-search-filter__secondary-options_state_visible': showSecondaryOptions}">
            <div class="b-column">
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Материал дома</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_material_brick">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][material][brick]"
                                           id="query_object_material_brick" type="checkbox"/>
                                    Кирпич
                                </label>
                            </button>
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_material_panel">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][material][panel]"
                                           id="query_object_material_panel" type="checkbox"/>
                                    Панель
                                </label>
                            </button>
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_material_monolith">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][material][monolith]"
                                           id="query_object_material_monolith" type="checkbox"/>
                                    Монолит
                                </label>
                            </button>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Санузел</dt>
                    <dd class="b-field-composition__content">
                        <button class="b-button">
                            <label class="b-form-field-label" for="query_object_wc_separate">
                                <input class="b-form-field b-form-field_type_checkbox" name="query[object][wc][separate]"
                                       id="query_object_wc_separate" type="checkbox"/>
                                Раздельный
                            </label>
                        </button>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Балкон нужен?</dt>
                    <dd class="b-field-composition__content">
                        <button class="b-button">
                            <label class="b-form-field-label" for="query_object_balcon">
                                <input class="b-form-field b-form-field_type_checkbox" name="query[object][balcon]"
                                       id="query_object_balcon" type="checkbox"/>
                                Да
                            </label>
                        </button>
                    </dd>
                </dl>
            </div>
            <div class="b-column">
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Этаж</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_floor_no_first">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][floor][no-first]"
                                           id="query_object_floor_no_first" type="checkbox"/>
                                    Не первый
                                </label>
                            </button>
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_floor_no_last">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][floor][no-last]"
                                           id="query_object_floor_no_last" type="checkbox"/>
                                    Не последний
                                </label>
                            </button>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Этажей в доме</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">от</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][floors][min]" id="fField"
                                           type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">до</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][floors][max]" id="fField"
                                           type="text"/>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Газ в доме?</dt>
                    <dd class="b-field-composition__content">
                        <button class="b-button">
                            <label class="b-form-field-label" for="query_object_gas">
                                <input class="b-form-field b-form-field_type_checkbox" name="query[object][gas]"
                                       id="query_object_gas" type="checkbox"/>
                                Нет
                            </label>
                        </button>
                    </dd>
                </dl>
            </div>
            <div class="b-column">
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Общая площадь</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">от</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][square][min]" id="fField"
                                           type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">до</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][square][max]" id="fField"
                                           type="text"/>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Жилая площадь</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">от</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][square][live][min]"
                                           id="fField" type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">до</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][square][live][max]"
                                           id="fField" type="text"/>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Кухня</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">от</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][square][kitchen][min]"
                                           id="fField" type="text"/>
                                </dd>
                            </dl>
                            <dl class="b-field-composition">
                                <dt class="b-field-composition__header">до</dt>
                                <dd class="b-field-composition__content">
                                    <input class="b-form-field b-form-field_type_text" name="query[object][square][kitchen][max]"
                                           id="fField" type="text"/>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="b-column">
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Тип дома</dt>
                    <dd class="b-field-composition__content">
                        <div class="b-group">
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_type_new">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][type][new]"
                                           id="query_object_type_new" type="checkbox"/>
                                    Новостройка
                                </label>
                            </button>
                            <button class="b-button">
                                <label class="b-form-field-label" for="query_object_type_old">
                                    <input class="b-form-field b-form-field_type_checkbox" name="query[object][type][old]"
                                           id="query_object_type_old" type="checkbox"/>
                                    Вторичка
                                </label>
                            </button>
                        </div>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Район</dt>
                    <dd class="b-field-composition__content">
                        <select class="b-form-field b-form-field_type_select" name="query[object][area]">

                            <option class="b-form-field__option">Не важен</option>
                            <option class="b-form-field__option">Железнодорожный</option>
                        </select>
                    </dd>
                </dl>
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Поиск по области карты</dt>
                    <dd class="b-field-composition__content">
                        <button class="b-button">Выбрать область</button>
                    </dd>
                </dl>
            </div>
            <div class="b-fly-column b-fly-column_state_hidden" ng-class="{'b-fly-column_state_hidden': !showSaveFilter}">
                <dl class="b-field-composition">
                    <dt class="b-field-composition__header">Сохранить фильтр?</dt>
                    <dd class="b-field-composition__content">
                        <form class="b-form" ng-controller="saveFilter">
                            <div class="b-form-row">
                                <input class="b-form-field b-form-field_type_text"  ng-model="saveFilter.name" type="text" placeholder="Название фильтра"/>
                            </div>
                            <div class="b-form-row">
                                <input class="b-form-field b-form-field_type_text" type="text" placeholder="Почта" ng-model="saveFilter.email"/>
                            </div>
                            <div class="b-form-row">
                                <div class="b-field-description">
                                    Если вы сохраните фильтр то сможете получать на почту новые объявления которые подходят под ваши условия.
                                </div>
                            </div>
                            <div class="b-form-row b-form-row_indent_on-right">
                                <a href="#" class="b-link b-link_type_js" ng-click="$parent.showSaveFilter = false">Закрыть</a>
                                <button class="b-button" type="submit">Сохранить</button>
                            </div>
                        </form>
                    </dd>
                </dl>
            </div>
            <a class="b-link b-link_type_hide-options b-link_type_js" href="#" title="Скрыть дополнительные настройки" ng-click="showSecondaryOptions = false">
                <i class="b-ficon b-ficon_type_arrow-up"></i>
                Скрыть
            </a>
            <a class="b-link b-link_type_toggle-save-filter b-link_type_js b-hint-inside b-hint-inside_direction_up" href="#" ng-hide="showSaveFilter" ng-click="showSaveFilter = !showSaveFilter" title="Сохранить фильтр">
                Сохранить фильтр
                <div class="b-form-field-hint">
                    <div class="b-icon b-icon_type_arrow-top"></div>
                    <div class="b-form-field-hint__content">После сохранения фильтра мы будем автоматически присылать вам новые объявления подходящие под ваши настройки</div>
                </div>
            </a>
        </div>
    </div>
</div>