<h1 class="b-heading b-heading_level_1">{{breadcrumbs.current.name}}</h1>

<div class="b-section b-section_cw_10">
    <article class="b-article">
        <div class="b-panel">
            <div class="b-panel__content">
                <div class="b-form">
                    <dl class="b-field-composition">
                        <dt class="b-field-composition__header">
                        <h3 class="b-heading b-heading_level_3">
                            <span class="b-span">Параметры объявления</span>
                        </h3>
                        </dt>
                        <dd class="b-field-composition__content">
                            <div class="b-form-row">
                                <dl class="b-form-field-composition b-form-field-composition_type_full-width">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Тип</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <div class="b-group">
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" ng-model="query.advert.type" ng-checked="query.advert.type == 1" name="query[advert][type]" value="1" type="radio" required/>
                                                    Аренда
                                                </label>
                                            </button>
                                            <button class="b-button">
                                                <label class="b-form-field-label">
                                                    <input class="b-form-field b-form-field_type_radio" ng-model="query.advert.type" ng-checked="query.advert.type == 2" name="query[advert][type]" value="2" type="radio" required/>
                                                    Продажа
                                                </label>
                                            </button>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Цена</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input class="b-form-field b-form-field_type_text" ng-model="query.object.price.value" cd-format="price" type="text" required/>
                                        <div class="b-field-measure" ng-show="query.advert.type">{{query.object.price.measure}}</div>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Тип объекта</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <select data-placeholder="Выберите тип" class="b-form-field b-form-field_type_select" ng-model="query.advert.object_type"  ng-options="item.ID as item.name for item in object_types" required>
                                        </select>
                                    </dd>
                                </dl>
                            </div>
                            <div class="b-form-row">
                                <dl class="b-form-field-composition">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Город</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <a class="b-link b-link_type_js b-geo-selector__town-link" cd-selector="town">Выберите город</a>
                                    </dd>
                                </dl>
                                <dl class="b-form-field-composition" ng-show="town">
                                    <dt class="b-form-field-composition__header">
                                        <label class="b-form-field-label">Адрес</label>
                                    </dt>
                                    <dd class="b-form-field-composition__content">
                                        <input type="text" class="b-form-field b-form-field_type_text" cd-find="address" ng-model="query.house._address.shortAddress" required/>
                                    </dd>
                                </dl>
                            </div>
                        </dd>
                    </dl>
                    <div class="b-object-params-container">

                    </div>
                    <div class="b-object-images-container">
                        <dl class="b-field-composition">
                            <dt class="b-field-composition__header">
                                <h3 class="b-heading b-heading_level_3">
                                    <span class="b-span">Изображения</span>
                                </h3>
                            </dt>
                            <dd class="b-field-composition__content">
                                <div class="b-rubber-container">
                                    <div class="b-rubber-container__item">
                                        <div class="b-drag-and-drop" cd-drag-image="query.object._images">
                                            <div class="b-drag-and-drop__title">
                                                Фотографии
                                            </div>
                                            <div class="b-drag-and-drop__help">
                                                перетащите изображения на эту область или кликните по ней
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-rubber-container__item">
                                        <div class="b-drag-and-drop" cd-drag-image="query.object._plan">
                                            <div class="b-drag-and-drop__title">
                                                План объекта
                                            </div>
                                            <div class="b-drag-and-drop__help">
                                                перетащите изображения на эту область или кликните по ней
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="b-form-row b-form-row_indent-align_right">
                        <button class="b-submit" type="submit" ng-click="add()">Опубликовать</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>