<dl class="b-field-composition">
    <dt class="b-field-composition__header">Объявления портала</dt>
    <dd class="b-field-composition__content">
        <ul class="b-list">
            <li class="b-list__item">
                <a class="b-link b-link_toggle_sub-nav">
                    <span class="b-ficon b-ficon_type_actions"></span>
                    <span class="b-link__text">Операции</span>
                    <span class="b-ficon b-ficon_type_toggle-arrow"></span>
                </a>
                <ul class="b-sub-list b-sub-list_state_hidden">
                    <li class="b-sub-list__item" ui-sref-active="b-list__item_state_current">
                        <a class="b-link" ui-sref="adverts.all" title="">Все объявления</a>
                    </li>
                    <li class="b-sub-list__item" ui-sref-active="b-list__item_state_current">
                        <a class="b-link" ui-sref="adverts.new" title="">Добавить новое</a>
                    </li>
                    <li class="b-sub-list__item" ui-sref-active="b-list__item_state_current">
                        <a class="b-link" ui-sref="adverts.moderate" title="">Модерирование</a>
                    </li>
                </ul>
            </li>
        </ul>
    </dd>
</dl>