<div class="b-geo-selector__area" ng-class="{'b-geo-selector__area_state_visible': area_base}">
    <div class="b-find">
        <div class="b-find__field">
            <input class="b-form-field b-form-field_type_text" ng-model="filterArea" type="text" placeholder="Поиск региона..." />
            <button class="b-ficon-button">
                <i class="b-ficon b-ficon_type_search"></i>
            </button>
        </div>
        <div class="b-find__in">
            в <a class="b-link b-link_type_js b-geo-selector__country-link b-geo-selector_change_country" cd-selector="country">{{country.name}}</a>
        </div>
    </div>
    <div class="b-area__items">
        <div class="b-area__item" ng-repeat="group_blocks in area_base">
            <dl class="b-field-composition" ng-repeat="group in group_blocks | filter:filterArea">
                <dt class="b-field-composition__header">{{group.letter}}</dt>
                <dd class="b-field-composition__content">
                    <ul class="b-list">
                        <li class="b-list__item" ng-repeat="item in group.content | filter:filterArea">
                            <a class="b-link b-link_type_js" ng-click="setArea(item)" title="">{{item.name}} {{item.typeLongName|lowercase}}</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>