<div class="b-geo-selector__street" ng-class="{'b-geo-selector__street_state_visible': street_base}">
    <div class="b-find">
        <div class="b-find__field">
            <input class="b-form-field b-form-field_type_text" ng-model="filterStreet" type="text" placeholder="Поиск улицы..." />
            <button class="b-ficon-button">
                <i class="b-ficon b-ficon_type_search"></i>
            </button>
        </div>
        <div class="b-find__in">
            в <a class="b-link b-link_type_js b-geo-selector__town-link b-geo-selector_change_town" cd-selector="town">городе {{town.name}}</a>
        </div>
    </div>
    <div class="b-street__items">
        <div class="b-street__item" ng-repeat="group_blocks in street_base">
            <dl class="b-field-composition" ng-repeat="group in group_blocks | filter:filterStreet">
                <dt class="b-field-composition__header">{{group.letter}}</dt>
                <dd class="b-field-composition__content">
                    <ul class="b-list">
                        <li class="b-list__item" ng-repeat="item in group.content | filter:filterStreet">
                            <a class="b-link b-link_type_js" ng-click="setStreet(item)" title="">{{item.name}}</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>