<div class="b-geo-selector__town" ng-class="{'b-geo-selector__town_state_visible': town_base}">
    <div class="b-find">
        <div class="b-find__field">
            <input class="b-form-field b-form-field_type_text" ng-model="filterTown" type="text" placeholder="Поиск города..." />
            <button class="b-ficon-button">
                <i class="b-ficon b-ficon_type_search"></i>
            </button>
        </div>
        <div class="b-find__in">
            в <a class="b-link b-link_type_js b-geo-selector__country-link b-geo-selector_change_area" cd-selector="area">{{area.name}}</a>
        </div>
    </div>
    <div class="b-town__items">
        <div class="b-town__item" ng-repeat="group_blocks in town_base">
            <dl class="b-field-composition" ng-repeat="group in group_blocks | filter:filterTown">
                <dt class="b-field-composition__header">{{group.letter}}</dt>
                <dd class="b-field-composition__content">
                    <ul class="b-list">
                        <li class="b-list__item" ng-repeat="item in group.content | filter:filterTown">
                            <a class="b-link b-link_type_js" ng-click="setTown(item)" title="">{{item.name}}</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>